#quote {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%); /* 요소를 가로로 중앙 정렬 */
    text-align: center; /* 내부 텍스트를 가운데 정렬 */
    font-weight: bold; /* 폰트 두껍게 설정 */
    color: white; /* 폰트 색상을 흰색으로 설정 */
    font-size: 16px; /* 폰트 크기 설정 (예: 24px) */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  #quote-text {
    line-height: 1.2; /* quote 텍스트의 줄 간격 설정 */
    font-size: 24px; /* quote 텍스트의 글꼴 크기 설정 (선택 사항) */
    font-weight: bold; /* quote 텍스트의 글꼴 두께 설정 (선택 사항) */
  }
  
  #quote-author {
    line-height: 1.2; /* author 텍스트의 줄 간격 설정 */
    font-size: 18px; /* author 텍스트의 글꼴 크기 설정 (선택 사항) */
  }
  
  @media (max-width: 768px) {
    #quote {
        font-size: 12px; /* 원하는 작은 글자 크기로 조절 */
    }

    #quote-text {
        font-size: 18px; /* 원하는 작은 글자 크기로 조절 */
    }

    #quote-author {
        font-size: 14px; /* 원하는 작은 글자 크기로 조절 */
    }
}
