.hidden{
  display: none;
}

html, body {
  margin: 0; /* 바깥 여백 제거 */
  padding: 0; /* 안쪽 여백 제거 */
  height: 100%; /* 화면 높이를 100%로 설정 */
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* 배경 이미지 고정 설정 */
  overflow: hidden;
}

/* 배경 이미지 추가 */
body {
  background-image: url('img/0.webp');
  background-image: url('img/1.jpg');
  background-image: url('img/2.jpg');
  background-image: url('img/3.jpg');
  background-image: url('img/4.jpeg');
  background-image: url('img/5.jpg');
}

#clock {
  position: absolute;
  top: 35%; /* clock을 약간 위로 조정 */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 120px;
  font-weight: bold;
  color: white;
}
