.hidden{
  display: none;
}

html, body {
  margin: 0; /* 바깥 여백 제거 */
  padding: 0; /* 안쪽 여백 제거 */
  height: 100%; /* 화면 높이를 100%로 설정 */
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* 배경 이미지 고정 설정 */
  overflow: hidden;
}
